@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');


* {
  font: normal 30px 'Crimson Pro', serif;
}

/* La barra de Navegación */
.sidebar {
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 3px;
  width: 300px;
  background-color: #292D32;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/*  Los links del sidebar */
.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
}

/* Este es para el logo, pero todavia no se que hacer asi que lo dejare asi por el momento
  NO SE TE OLVIDE REVISARLO */
.sidebar a.active {
  background-color: #000000;
  color: white;
}

/*   Para el cambio de color con el mouse */
.sidebar a:hover {
  background-color: #000000;
  color: #E716D2;
}

/* Este div es del esto de body */
div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 100vh;
  text-align: center;
  background-color: #000000;
  color: #ffffff;


}


/* Aqui esta la animación */
body {
  background: hsla(0, 0%, 0%, .9);
}

h1 {
  color: hwb(0 12% 87% / 0.9);
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  /* position: absolute;
    text-align: center; */
  text-transform: uppercase;
  animation: move linear 2000ms infinite;
}

.btn-contratame {
  color: #000000;
  background-color: #E716D2;
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 #E716D2,
      3px -3px 0 #E716D2,
      2px -2px 0 #E716D2,
      1px -1px 0 #E716D2,
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }

  25% {
    text-shadow:
      -4px -4px 0 #E716D2,
      -3px -3px 0 #E716D2,
      -2px -2px 0 #E716D2,
      -1px -1px 0 #E716D2,
      4px 4px 0 rgb(255, 255, 255),
      3px 3px 0 rgb(255, 255, 255),
      2px 2px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255);
  }

  50% {
    text-shadow:
      -4px 4px 0 #E716D2,
      -3px 3px 0 #E716D2,
      -2px 2px 0 #E716D2,
      -1px 1px 0 #E716D2,
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }

  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 #E716D2,
      -3px -3px 0 #E716D2,
      -2px -2px 0 #E716D2,
      -1px -1px 0 #E716D2,
    ;
  }

  100% {
    text-shadow:
      4px -4px 0 #E716D2,
      3px -3px 0 #E716D2,
      2px -2px 0 #E716D2,
      1px -1px 0 #E716D2,
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}